﻿@{
    ViewBag.Title = "Our Services";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">            
            <h2>ANA Construction Services, Inc. is your one-stop shop for all construction projects regardless of scope and vision</h2>
            <div class="text-capitalize">From renovating any room in the house or Office to building a new home or commercial building.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <p>
            We specialize in high-end residential and commercial build-outs, remodeling, and renovations. For large-scale projects, we provide superior construction management and general contracting to bring your
            vision to life. We strive to match themes elegantly (i.e. vintage, contemporary, historical) and provide custom furnishings and cabinetry through our own
            workshop. And being a company that endorses sustainability, we strive to improve our environmental performance and maximize opportunities to work as a team
            with our partners, clients and public to create a better environment for all.
        </p>
        <p>
            Quality is our core business strategy and to achieve this we provide individual project management support services during all phases of building and development.
            We have completed a wide range of projects such as high end residential and commercial renovations and we also provide construction management services.
        </p>
        <p>
            Such projects have included apartment complexes in Tonawanda to high-end retail stores in Williamsville. Throughout this time we have
            developed close working relationships with many of Western New York’s leading architects, designers and building management companies.
        </p>
        <p>
            Our process always starts with you, the homeowner. We begin with a walk-through of your property to address your vision and finish by bringing that
            vision to life with careful planning, experienced project management, and the highest quality of craftsmanship.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Services Include</h2>
        <div id="services">
            <ul>
                <li>kitchen, bathroom &amp; basement renovations</li>
                <li>interior and exterior painting</li>
                <li>tile / VCT floors</li>
                <li>carpentry</li>
                <li>concrete flatwork</li>
                <li>power washing</li>
                <li>concrete sealing &amp; staining</li>
                <li>minor plumbing and electrical</li>
                <li>handyman services</li>
            </ul>
        </div>
    </div>
</div>